.ingredient-item {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.ingredient-item span {
  font-size: 1.2em;
  font-weight: 600;
}

.ingredient-item span:nth-child(2) {
  color: #ff2058;
}