.ingredient-form {
  width: 30rem;
  margin: 2rem auto;
  max-width: 80%;
}

.form-control label {
  display: block;
  width: 100%;
}

.form-control input {
  display: block;
  height: 2.5em;
  width: 100%;
  font: inherit;
  padding: 0.1rem 0.25rem;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 1rem;
}

.form-control input:focus {
  outline: none;
  border-bottom-color: #ff2058;
}

.form-control.invalid label {
  color: #ca3e51;
}

.form-control.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}

.ingredient-form__error-text {
  margin: 0.6em 0em;
  text-align: start;
  font-weight: 500;
  font-size: medium;
  color: rgb(200, 57, 57);
}

.ingredient-form__actions {
  display: flex;
  justify-content: center;
}
