.ingredient-list {
  width: 30rem;
  max-width: 80%;
  margin: auto;
}

.no-ingredients {
  text-align: center;
}

.ingredient-list h2 {
  border-bottom: 3px solid #ccc;
  padding-bottom: 1rem;
}

.ingredient-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
